* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0px;
}

header {
    background-color: black;
    color: cadetblue;
    height: 70px;
}

nav {
    display: flex;
    align-items: center;
}

form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 0.5);
}

button {
    height: 50px;
    padding: 3px 5px;
    margin: 10px 5px;
    border-radius: 5px;
}

fieldset {
    border-radius: 15px;
    padding: 10px;
}

input,
textarea {
    margin: 5px;
}

form button {
    margin-top: 5px;
    padding: 3px 5px;
    width: 150px;
    border-radius: 5px;
}

h1 {
    padding: 5px;
    margin: 5px;
}

button {
    height: 50px;
    padding: 3px 5px;
    margin: 10px 5px;
    border-radius: 5px;
}

img {
    border-radius: 10px;
    margin: 10px;
    height: 200px;
}

p {
    padding: 10px;
    margin: 10px;
    text-align: justify;
}

div {
    display: flex;
    align-items: center;
    padding: 20px;
}

footer {
    display: flex;
    align-items: flex-start;
    background-color: black;
}

footer div {
    width: 33%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

footer div p {
    text-align: left;
}
